@import "responsible";

/* Common Classes Styles */
.white-bordered-btn{
  display: inline-block;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 7px 35px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  margin: 0 5px;

  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.flex-centered{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bordered-header{
  position: relative;

  &:after{
    position: absolute;
    bottom: -15px;
    right: 0;
    content: '';
    width: 225px;
    height: 3px;
    display: block;
    background-color: #FF003A;
  }
}

.header-type-one,
.header-type-two,
.header-type-three,
.header-type-four{
  font-weight: 500;
}

.header-type-one{
  font-size: 32px;
}

.header-type-two{
  font-size: 30px;
}

.header-type-three{
  font-size: 24px;
}

.header-type-four{
  font-family: lalezar;
  font-size: 36px;
  font-weight: 600;
}

@include respond('xs'){

  .white-bordered-btn{
    padding: 4px 15px;
    margin: 0 1px;
  }

  .header-type-one{
    font-size: 22px;
  }

  .header-type-two{
    font-size: 16px;
  }

  .header-type-three{
    font-size: 16px;
  }

  .header-type-four{
    font-size: 26px;
  }

  .bordered-header{

    &:after{
      width: 175px;
    }
  }
}

@include respond('sm'){

  .white-bordered-btn{
    padding: 5px 25px;
  }

  .header-type-one{
    font-size: 24px;
  }

  .header-type-two{
    font-size: 22px;
  }

  .header-type-three{
    font-size: 18px;
  }

  .header-type-four{
    font-size: 28px;
  }

  .bordered-header{

    &:after{
      width: 200px;
    }
  }
}

@include respond('md'){

  .header-type-one{
    font-size: 28px;
  }

  .header-type-two{
    font-size: 26px;
  }

  .header-type-three{
    font-size: 20px;
  }

  .header-type-four{
    font-size: 32px;
  }
}




/* Styles */
body{
  font-size: 16px;

  @include respond('xs'){
    font-size: 12px;
  }

  @include respond('sm'){
    font-size: 14px;
  }
}

header{
  @extend .flex-centered;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F8334D;
  background-image: url("../img/site.png"),url("../img/header-vector.png");
  background-repeat: no-repeat,repeat-x;
  background-position: center bottom,50% calc(100% + 10px) ;
  background-size: auto 85px,auto 40vh;
  text-align: center;
  box-shadow: 1px 1px 8px 2px #e0dbdb;
  overflow: hidden;

  #rocket{
    height: 50vh;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 50px;
  }

  .header-navbar{
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-title{

    img{
      width: 50%;
      height: auto;
    }
  }

  .suggestion{
    background-color: #FFE82A;
    color: #FF0022;
    padding: 10px 0;
    border-radius: 35px;
    margin-bottom: 25px;

    h1{
      margin-bottom: 0;
    }
  }

  .header-buttons{
    color: #ffffff;
  }

  .cloud1,
  .cloud2,
  .cloud3{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 10;
    height: 200px;
  }
  .cloud1{
    top: 50px;
    left: 60%;
    background-image: url("../img/cloud1.png");
    width: 300px;
  }
  .cloud2{
    top: calc(50% - 50px);
    right: 50px;
    background-image: url("../img/cloud2.png");
    width: 300px;
  }
  .cloud3{
    bottom: 0;
    left: -10px;
    background-image: url("../img/cloud3.png");
    width: 115px;
  }

  @include respond('mobiles'){
    background-image: url("../img/cloud1.png"),url("../img/cloud2.png"),url("../img/cloud3.png"),url("../img/site.png"),url("../img/header-vector.png");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat-x;
    background-position: 100% 50px,calc(100% - 10px) calc(100% - 100px),left calc(100% - 50px), center bottom,50% calc(100% + 10px);
    background-size: auto 100px,auto 100px,auto 100px,auto 50px,auto 25vh ;
    overflow-x: hidden;

    #rocket{
      height: 30vh;
      z-index: 100;
      position: absolute;
      left: -25px;
      top: 50px;
    }

    .cloud1,
    .cloud2,
    .cloud3{
      display: none;
    }
  }

  @include respond('xs'){

    .header-navbar{
      justify-content: center;
    }

    .site-title{

      img{
        width: 50%;
      }
    }

    .suggestion{
      padding: 8px 10px;
    }
  }

  @include respond('md'){
    background-position: center bottom,50% calc(100% + 10px) ;
    background-size: auto 85px,auto 40vh;

    .site-title{

      img{
        width: 45%;
      }
    }

    .cloud1,
    .cloud2,
    .cloud3{
      height: 150px;
    }
    .cloud1{
      top: 75px;
      left: 60%;
      width: 200px;
    }
    .cloud2{
      top: 65%;
      right: 25px;
      width: 200px;
    }
    .cloud3{
      bottom: 0;
      left: -10px;
      width: 90px;
    }
  }

  @include respond('lg'){

    .cloud1,
    .cloud2,
    .cloud3{
      height: 180px;
    }
    .cloud1{
      top: 100px;
      left: 60%;
      width: 250px;
    }
    .cloud2{
      top: 60%;
      right: 40px;
      width: 250px;
    }
    .cloud3{
      bottom: 0;
      left: -10px;
      width: 100px;
    }
  }

}

section{

  p{
    line-height: 40px;
  }

  @include respond('xs'){

    p{
      line-height: 24px;
    }
  }

  @include respond('sm'){

    p{
      line-height: 35px;
    }
  }
}

section.what-is-bordbord{
  padding: 125px 0;

  .section-title{
    margin-bottom: 25px;
  }

  @include respond('xs'){
    padding: 50px 0;
  }

  @include respond('sm'){
    padding: 75px 0;
  }
}

section.why-how-support{
  padding-top: 35px;
  background-color: #FFCB00;

  .section-img{

    img{
      width: 100%;
      height: 100%;
    }
  }

  .section-title{
    display: inline-block;
    background-color: #F8334D;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 7px;
    margin-bottom: 50px;

    img{
      width: 40px;
      height: auto;
      margin-left: 10px;
    }
  }

  .section-list{
    color: #341C00;

    ul{
      list-style-type: none;
      line-height: 40px;
      padding-right: 15px;
      margin: 0;

      li{
        margin-bottom: 25px;

        span{
          display: inline-block;
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #FF003A;
          margin-left: 10px;
        }
      }
    }
  }

  @include respond('xs'){
    padding: 35px 0;

    .section-title{
      padding: 8px 15px;

      img{
        width: 30px;
      }
    }

    .section-list{

      ul{
        padding-right: 0;
      }
    }
  }

  @include respond('mobiles'){

    .section-img{
      margin-bottom: 35px;
    }
  }
}

section.advertise{
  color: #0D0D0D;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  background-color: #e7e7e7;

  p{
    margin-bottom: 0;
  }

  @include respond('xs'){

    font-size: 12px;
  }
}

footer{
  background-color: #F8334D;
  color: #ffffff;
  padding: 75px 0 35px 0;
  text-align: center;

  p{
    font-size: 14px;
  }


  .adver{
    .stars-img{
      margin: 20px 0;
      img{
        width: 40px;
        height: auto;
        margin: 0 3px;
      }
    }
  }

  .share{
    margin-top: 50px;

    .share-title{
      @extend .flex-centered;
      flex-wrap: nowrap;
      justify-content: center;

      .title-img{
        margin-left: 10px;

        img{
          width: 15px;
          height: auto;
        }
      }

      .title-content{
        font-size: 18px;
        font-weight: 700;
      }
    }

    .share-links{
      @extend .flex-centered;
      flex-wrap: nowrap;
      justify-content: center;


      .link-item{
        margin: 0 10px;

        img{
          width: 25px;
          height: auto;
        }
      }
    }
  }

  @include respond('xs'){

    p{
      font-size: 12px;
    }

    .adver{

      .stars-img{

        img{
          width: 35px;
        }
      }
    }

    .share{

      .share-title{

        .title-content{
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  @include respond('sm'){

    .share{

      .share-title{

        .title-content{
          font-size: 16px;
        }
      }
    }
  }
}
