/* Common Classes Styles */
.white-bordered-btn {
  display: inline-block;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 7px 35px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  margin: 0 5px;
}
.white-bordered-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.flex-centered, footer .share .share-links, footer .share .share-title, header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bordered-header {
  position: relative;
}
.bordered-header:after {
  position: absolute;
  bottom: -15px;
  right: 0;
  content: "";
  width: 225px;
  height: 3px;
  display: block;
  background-color: #FF003A;
}

.header-type-one,
.header-type-two,
.header-type-three,
.header-type-four {
  font-weight: 500;
}

.header-type-one {
  font-size: 32px;
}

.header-type-two {
  font-size: 30px;
}

.header-type-three {
  font-size: 24px;
}

.header-type-four {
  font-family: lalezar;
  font-size: 36px;
  font-weight: 600;
}

@media only screen and (max-width: 575px) {
  .white-bordered-btn {
    padding: 4px 15px;
    margin: 0 1px;
  }

  .header-type-one {
    font-size: 22px;
  }

  .header-type-two {
    font-size: 16px;
  }

  .header-type-three {
    font-size: 16px;
  }

  .header-type-four {
    font-size: 26px;
  }

  .bordered-header:after {
    width: 175px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .white-bordered-btn {
    padding: 5px 25px;
  }

  .header-type-one {
    font-size: 24px;
  }

  .header-type-two {
    font-size: 22px;
  }

  .header-type-three {
    font-size: 18px;
  }

  .header-type-four {
    font-size: 28px;
  }

  .bordered-header:after {
    width: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-type-one {
    font-size: 28px;
  }

  .header-type-two {
    font-size: 26px;
  }

  .header-type-three {
    font-size: 20px;
  }

  .header-type-four {
    font-size: 32px;
  }
}
/* Styles */
body {
  font-size: 16px;
}
@media only screen and (max-width: 575px) {
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

header {
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F8334D;
  background-image: url("../img/site.png"), url("../img/header-vector.png");
  background-repeat: no-repeat, repeat-x;
  background-position: center bottom, 50% calc(100% + 10px);
  background-size: auto 85px, auto 40vh;
  text-align: center;
  box-shadow: 1px 1px 8px 2px #e0dbdb;
  overflow: hidden;
}
header #rocket {
  height: 50vh;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 50px;
}
header .header-navbar {
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .site-title img {
  width: 50%;
  height: auto;
}
header .suggestion {
  background-color: #FFE82A;
  color: #FF0022;
  padding: 10px 0;
  border-radius: 35px;
  margin-bottom: 25px;
}
header .suggestion h1 {
  margin-bottom: 0;
}
header .header-buttons {
  color: #ffffff;
}
header .cloud1,
header .cloud2,
header .cloud3 {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 10;
  height: 200px;
}
header .cloud1 {
  top: 50px;
  left: 60%;
  background-image: url("../img/cloud1.png");
  width: 300px;
}
header .cloud2 {
  top: calc(50% - 50px);
  right: 50px;
  background-image: url("../img/cloud2.png");
  width: 300px;
}
header .cloud3 {
  bottom: 0;
  left: -10px;
  background-image: url("../img/cloud3.png");
  width: 115px;
}
@media only screen and (max-width: 768px) {
  header {
    background-image: url("../img/cloud1.png"), url("../img/cloud2.png"), url("../img/cloud3.png"), url("../img/site.png"), url("../img/header-vector.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
    background-position: 100% 50px, calc(100% - 10px) calc(100% - 100px), left calc(100% - 50px), center bottom, 50% calc(100% + 10px);
    background-size: auto 100px, auto 100px, auto 100px, auto 50px, auto 25vh;
    overflow-x: hidden;
  }
  header #rocket {
    height: 30vh;
    z-index: 100;
    position: absolute;
    left: -25px;
    top: 50px;
  }
  header .cloud1,
header .cloud2,
header .cloud3 {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  header .header-navbar {
    justify-content: center;
  }
  header .site-title img {
    width: 50%;
  }
  header .suggestion {
    padding: 8px 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    background-position: center bottom, 50% calc(100% + 10px);
    background-size: auto 85px, auto 40vh;
  }
  header .site-title img {
    width: 45%;
  }
  header .cloud1,
header .cloud2,
header .cloud3 {
    height: 150px;
  }
  header .cloud1 {
    top: 75px;
    left: 60%;
    width: 200px;
  }
  header .cloud2 {
    top: 65%;
    right: 25px;
    width: 200px;
  }
  header .cloud3 {
    bottom: 0;
    left: -10px;
    width: 90px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  header .cloud1,
header .cloud2,
header .cloud3 {
    height: 180px;
  }
  header .cloud1 {
    top: 100px;
    left: 60%;
    width: 250px;
  }
  header .cloud2 {
    top: 60%;
    right: 40px;
    width: 250px;
  }
  header .cloud3 {
    bottom: 0;
    left: -10px;
    width: 100px;
  }
}

section p {
  line-height: 40px;
}
@media only screen and (max-width: 575px) {
  section p {
    line-height: 24px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  section p {
    line-height: 35px;
  }
}

section.what-is-bordbord {
  padding: 125px 0;
}
section.what-is-bordbord .section-title {
  margin-bottom: 25px;
}
@media only screen and (max-width: 575px) {
  section.what-is-bordbord {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  section.what-is-bordbord {
    padding: 75px 0;
  }
}

section.why-how-support {
  padding-top: 35px;
  background-color: #FFCB00;
}
section.why-how-support .section-img img {
  width: 100%;
  height: 100%;
}
section.why-how-support .section-title {
  display: inline-block;
  background-color: #F8334D;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 7px;
  margin-bottom: 50px;
}
section.why-how-support .section-title img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}
section.why-how-support .section-list {
  color: #341C00;
}
section.why-how-support .section-list ul {
  list-style-type: none;
  line-height: 40px;
  padding-right: 15px;
  margin: 0;
}
section.why-how-support .section-list ul li {
  margin-bottom: 25px;
}
section.why-how-support .section-list ul li span {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF003A;
  margin-left: 10px;
}
@media only screen and (max-width: 575px) {
  section.why-how-support {
    padding: 35px 0;
  }
  section.why-how-support .section-title {
    padding: 8px 15px;
  }
  section.why-how-support .section-title img {
    width: 30px;
  }
  section.why-how-support .section-list ul {
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  section.why-how-support .section-img {
    margin-bottom: 35px;
  }
}

section.advertise {
  color: #0D0D0D;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  background-color: #e7e7e7;
}
section.advertise p {
  margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
  section.advertise {
    font-size: 12px;
  }
}

footer {
  background-color: #F8334D;
  color: #ffffff;
  padding: 75px 0 35px 0;
  text-align: center;
}
footer p {
  font-size: 14px;
}
footer .adver .stars-img {
  margin: 20px 0;
}
footer .adver .stars-img img {
  width: 40px;
  height: auto;
  margin: 0 3px;
}
footer .share {
  margin-top: 50px;
}
footer .share .share-title {
  flex-wrap: nowrap;
  justify-content: center;
}
footer .share .share-title .title-img {
  margin-left: 10px;
}
footer .share .share-title .title-img img {
  width: 15px;
  height: auto;
}
footer .share .share-title .title-content {
  font-size: 18px;
  font-weight: 700;
}
footer .share .share-links {
  flex-wrap: nowrap;
  justify-content: center;
}
footer .share .share-links .link-item {
  margin: 0 10px;
}
footer .share .share-links .link-item img {
  width: 25px;
  height: auto;
}
@media only screen and (max-width: 575px) {
  footer p {
    font-size: 12px;
  }
  footer .adver .stars-img img {
    width: 35px;
  }
  footer .share .share-title .title-content {
    font-size: 14px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  footer .share .share-title .title-content {
    font-size: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
