@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/eot/IRANSans(FaNum)_Medium.eot");
  src: url("fonts/eot/IRANSans(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}
@font-face {
  font-family: lalezar;
  src: url("fonts/eot/Lalezar.eot?#") format("eot"), url("fonts/ttf/Lalezar.ttf") format("ttf"), url("fonts/woff/Lalezar.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: 600;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  direction: rtl;
  font-family: IRANSans !important;
  font-weight: normal;
  color: #6E6E6E;
  text-align: right;
  line-height: 24px;
}

* {
  outline: none !important;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

input:focus, input:hover {
  box-shadow: none !important;
  outline: none;
  text-align: right;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset -5px 3px 21px -10px rgba(0, 0, 0, 0.75);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8334D;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff334e;
}

::selection {
  background-color: rgba(244, 50, 76, 0.5);
  color: #dddddd;
}

::-moz-selection {
  background-color: rgba(244, 50, 76, 0.5);
  color: #dddddd;
}

/*# sourceMappingURL=main.css.map */
